.back_petal_SW {
  position: absolute;
  width: 42%;
  height: 42%;
  bottom: 10%;
  left: 10%;

  background: linear-gradient(180deg, #63559D 0%, rgba(27, 144, 194, 0.67) 100%);
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(61, 74, 192, 0.7);
  border-radius: 50% 0;
  animation-name: rotate-diag-cent-NE-SW;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 1s;
}

.back_petal_SE {
  position: absolute;
  width: 42%;
  height: 42%;
  bottom: 10%;
  right: 10%;

  background: linear-gradient(180deg, #63559D 0%, rgba(27, 144, 194, 0.67) 100%);
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(61, 74, 192, 0.7);
  border-radius: 0 50%;
  animation-name: rotate-diag-cent-NW-SE;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-delay: 1.5s;
}

.front_petal_S {
  position: absolute;
  width: 40%;
  height: 40%;
  bottom: 8%;
  left: 30%;

  background: linear-gradient(180deg, #63559D 0%, rgba(27, 144, 194, 0.90) 100%);
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(61, 74, 192, 0.7);
  border-radius: 50% 0;
  transform: rotate(-45deg);
}

.back_petal_NE {
  position: absolute;
  width: 42%;
  height: 42%;
  top: 10%;
  right: 10%;

  background: linear-gradient(0deg, #6C559D 0%, rgba(27, 144, 194, 0.67) 100%);
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(61, 74, 192, 0.7);
  border-radius: 50% 0;
  animation-name: rotate-diag-cent-NE-SW;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s;
}

.front_petal_E {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 30%;
  right: 8%;

  background: linear-gradient(180deg, #63559D 0%, rgba(27, 144, 194, 0.9) 100%);
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(61, 74, 192, 0.7);
  border-radius: 50% 0;
  transform: rotate(-135deg);
}

.back_petal_NW {

  position: absolute;
  width: 42%;
  height: 42%;
  top: 10%;
  left: 10%;

  background: linear-gradient(0deg, #6C559D 0%, rgba(27, 144, 194, 0.67) 100%);
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(61, 74, 192, 0.7);
  border-radius: 0 50%;
  animation-name: rotate-diag-cent-NW-SE;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-delay: 0s;
}

.front_petal_N {
  position: relative;
  width: 40%;
  height: 40%;
  left: 30%;
  top: 8%;

  background: linear-gradient(180deg, #6C559D 0%, rgba(27, 144, 194, 0.90) 100%);
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(61, 74, 192, 0.7);
  border-radius: 50% 0;
  transform: rotate(135deg);
  animation-name: front-moves;
  animation-duration: 3s;
}

.front_petal_W {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 30%;
  left: 8%;
  background: linear-gradient(180deg, #63559D 0%, rgba(27, 144, 194, 0.90) 100%);
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 20px rgba(61, 74, 192, 0.7);
  border-radius: 50% 0;
  transform: rotate(45deg);
}

.core {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
  background: #FF9500;
  border: 6px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
}

.box {
	width: 500px;
	height: 500px;

	background-color: #fff;
	position: relative;
	margin: auto;
    margin-top: 100px;
	display: block;
}


@keyframes rotate-diag-cent-NW-SE {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -20deg)
  }
  100% {
    transform: rotate3d(1, 1, 0, -0deg);
  }
}

@keyframes rotate-diag-cent-NE-SW {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(-1, 1, 0, 20deg)
  }
  100% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
}